*{
    box-sizing: border-box;
}

.par{
 font-size: 36px;
 font-weight: bold;
}

.naruto{
    background-color: gray;
    padding:10px;
    margin:5px;
}
.bar {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    box-align: center;
  }
  button{
    text-decoration: none;
  }
  @media(max-width: 992px){
  .visible-md{
    display:block;
    align-items: center;
    clear: right;
  }
}
@media(min-width: 992px){
    .visible-md{
      display:none;
    }
  }
 